body{
    background-image: url("idkl.jpg");
    background-size: cover;
}



.copy_right_footer{
        position:fixed;
        color: #000000;
        bottom: 0;
        width: 100%;
        font-size: 18px;
        background-color: rgb(172, 120, 61);
        line-height: 3;
        text-align: center;
        text-shadow: 5px 5px 5px rgb(151, 149, 149);
    
}

img:hover{
    border-radius: 140px;
}

h3{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}